.task-list-container {
    align-items: center;
    background-color: #d9d9d9;
}

.task-list {
    max-height: 700px;
    align-content: center;
    padding-left: 35%;
}

.TaskList {
    max-height: 700px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.fab-button {
    left: 25%;
}