.task-list-container {
    align-items: center;
}

.task-list {
    align-content: center;
    padding-left: 45%;
    background-color: #d9d9d9;
}

.TaskList {
    align-items: center;
}

.fab-button {
    position: absolute;
    left: 25%;
}